#calculadora{
font-family: 'Fira Code', monospace;
background: darkgrey;
margin:auto;
width: 580px;
font-size: 40px;
}
#visor{
position: relative;
width: 574px;
height: 104px;
background:rgb(29, 185, 37);
font-size: 70px;
}
button{
    font-size: 30px;
    width: 50px;
}
#clear{
padding: 2px;
border: dashed 1px gray;
text-align: center;
margin-left: 436px;
margin-right: 85px;
}
ul{
    list-style-type: none;
    display: inline-flex;
    padding-left: 60px;
    padding-right: 60px;
    position: relative;
    text-align: center;
    margin-top: 0px;
}
li{
    padding: 30px;
}
#ponto {
    border: dashed 1px gray;
    padding-left: 15px;
    padding-right: 15px;
}
.numeros{
    border: dashed 1px gray;
    padding-left: 15px;
    padding-right: 15px;
}
.operadores{
    border: dashed 1px gray;
    padding-left: 15px;
    padding-right: 15px;
}