#calculadora{
font-family: 'Fira Code', monospace;
display: block;
background: darkgrey;
margin:auto;
width: 450px;
position: fixed;
}
#visor{
position: relative;
background:rgb(29, 185, 37);
padding: 40px;
}
#l1{
display: inline-flex;
position: fixed;
width: 450px;
margin-left: 15px;
margin-right: 15px;
top: 180px;
left: 20px;
height: 50px;
}
#um{
padding: 15px;
margin-left: 15px;
margin-right: 15px;
}
#dois{
padding: 15px;
margin-left: 15px;
margin-right: 15px;
}
#tres{
padding: 15px;
margin-left: 15px;
margin-right: 15px;
}
#l2{
display: inline-flex;
position: fixed;
width: 450px;
margin-left: 15px;
margin-right: 15px;
top: 320px;
height: 50px;
}
#quatro{
padding: 15px;
}
#cinco{
padding: 15px;
}
#seis{
padding: 15px;
}
#l3{
height: 50px;
display: inline-flex;
position: fixed;
width: 450px;
left: 15px;
top: 380px;
}
#sete{
padding: 15px;
}
#oito{
padding: 15px;
}
#nove{
padding: 15px;
}
#l4{
display:inline-flex;
position: fixed;
width: 450px;
left: 40px;
top: 400px;
}
#zero{
padding: 15px;
}
#ponto{
padding: 15px;
}
#igual{
padding: 15px;
}
#C{
display: inline;
position: relative;
left: 400px;
}

#c{
padding: 15px;
}
#divisor{
padding: 15px;
}
#mult{
padding: 15px;
}
#menos{
padding: 15px;
}
#mais{
padding: 15px;
}